body
{
  background-color: rgb(24, 24, 24);
  margin: 0 auto;
}

#MainDivPvlt
{
  margin: 0 auto;
  margin-top: 20px;
  width: 1110px;
  height: 354px;
}

#MainHeaderMonitorPvlt
{
  margin: 0 auto;
  color: white;
  text-align: center;
  font-size: 24px;
  font-family: Verdana;
  transition: 1s;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

#CounterMonitorPvlt
{
  margin: 0 auto;
  padding: 0px;
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: Verdana;
  transition: 1s;
  padding-bottom: 20px;
  padding-top: 3px;
}

#ColorDivPvlt
{
  height: 20px;
  margin: 0 auto;
  width: 54.9%;
  margin-top: 6px;
}

#GreenDivPvlt
{
  height: 100%;
  width: 48.5%;
  float: left;
  background-color: rgb(20, 240, 185);
  border: 1px solid black;
}

#RedDivPvlt
{
  float: right;
  height: 100%;
  width: 49.5%;
  background-color: rgb(255, 92, 71);
  border: 1px solid black;
}

#MainContentPvlt
{
    background-color: rgb(39, 39, 39);
    margin: 0 auto;
    padding: 0px;
    height: 318px;
    width: 75%;
  border-radius: 10px;
    margin-top: 50px;
    position: relative;
}

#InputDivPvlt
{
  
  margin: 0 auto;
  display: inline;
  position: absolute;
  width: 100%;
  top: 149px;
}

#VaultImgPvlt
{
  margin: 0 auto;
  padding: 0px;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 2s;
  border-radius: 10px;
}

#VaultImgFadePvlt
{
  margin: 0 auto;
  padding: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 2s;
  border-radius: 10px;
}

.VaultDivPvlt
{
  background-image: url("../images/vaultopen.jpg");
  background-size: 100% 100%;
  transition: 2s;
  margin: 0 auto;
  padding: 0px;
  height: 500px;
  margin-bottom: 15px;
  width: 50%;
  opacity: 1;
  border-radius: 10px;
}

#ButtonsDivPvlt
{
  margin: 0 auto;
  height: 125px;
  width: 55%;
}

.ButtonPvlt
{
  width: calc(100% / 3 - 2.5px);
  margin: 0 auto;
  padding: 0px;
  height: 100%;
  font-family: Verdana;
  font-size: 48px;
  background-color: white;
  border: 2px solid black;
  border-radius: 9px;
}

.ButtonPvlt:nth-child(3n + 3)
{
  float: right;
}

#MonitorPvlt
{
  width: 95%;
  margin: 0 auto;
  position: relative;
  top: 21px;
  border-radius: 10px;
  background-color: rgb(22, 22, 22);
  overflow: hidden;
  height: 106px;
}